%main{:role => "main"}
  .album.py-5.album__background
    .container
      .row
        - if @posts.presence
          = render partial: 'post', collection: @posts
        - else
          %p 現在投稿はありません
      = paginate(@posts)

