%main{:role => "main"}

  .jumbotron.jumbotron__background-color
    .container
      %h1.display-3 犬のQ&A
      %p 犬を飼っている人は愛犬のちょっとした変化も心配になると思います。人間と違って犬は言葉を話せないので「お腹が痛い」、「足が痛い」とは言えません。全て飼い主の経験による判断になります。このサイトはそんな時の愛犬の相談等を投稿できるサイトになります。
      %p
        %a.btn.btn-primary.btn-lg{:href => "#", :role => "button"} Learn more »

  .album.py-5.album__background
    .container
      %h2 New
      .row
        - if @new_posts.present?
          = render partial: "post", collection: @new_posts
        - else
          %p 現在投稿はありません
      %h2 病気
      .row
        - if @c1_posts.present?
          = render partial: "post", collection: @c1_posts
        - else
          %p 現在投稿はありません
      %h2 しつけ
      .row
        - if @c2_posts.present?
          = render partial: "post", collection: @c2_posts
        - else
          %p 現在投稿はありません
      %h2 病院
      .row
        - if @c3_posts.present?
          = render partial: "post", collection: @c3_posts
        - else
          %p 現在投稿はありません
