%main{:role => "main"}

  .jumbotron
    .container
      %h1.display-3 Hello, world!
      %p This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
      %p
        %a.btn.btn-primary.btn-lg{:href => "#", :role => "button"} Learn more »

  .container
    %h1 New
    .row
      - if @new_posts.presence
        = render partial: "new_posts", collection: @new_posts
        / = render @new_posts
      - else
        %p 現在投稿はありません
    %hr/

  .container
    %h1 病気
    .row
      - if @c1_posts.presence
        = render partial: "c1_posts", collection: @c1_posts
        / = render @new_posts
      - else
        %p 現在投稿はありません
    %hr/

  .container
    %h1 しつけ
    .row
      - if @c2_posts.presence
        = render partial: "c2_posts", collection: @c2_posts
        / = render @new_posts
      - else
        %p 現在投稿はありません
    %hr/

  .container
    %h1 病院
    .row
      - if @c3_posts.presence
        = render partial: "c3_posts", collection: @c3_posts
        / = render @new_posts
      - else
        %p 現在投稿はありません
    %hr/

