%main{:role => "main"}

  .jumbotron.jumbotron__background-color
    .container
      %h1.display-3 Hello, world!
      %p This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
      %p
        %a.btn.btn-primary.btn-lg{:href => "#", :role => "button"} Learn more »

  .album.py-5.album__background
    .container
      %h2 New
      .row
        - if @new_posts.presence
          = render partial: "post", collection: @new_posts
        - else
          %p 現在投稿はありません
      %h2 病気
      .row
        - if @c1_posts.presence
          = render partial: "post", collection: @c1_posts
        - else
          %p 現在投稿はありません
      %h2 しつけ
      .row
        - if @c2_posts.presence
          = render partial: "post", collection: @c2_posts
        - else
          %p 現在投稿はありません
      %h2 病院
      .row
        - if @c3_posts.presence
          = render partial: "post", collection: @c3_posts
        - else
          %p 現在投稿はありません
