%main{:role => "main"}
  .album.py-5.album__background
    .container
      .row
        .col-md-4
          .card.shadow-sm.card__background.card__min-height
            .card-body
              %p.card-text
                by
                = link_to "#{@post.user.nickname}", user_path(@post.user)
              %h3.card-title
                = @post.title
              = simple_format(@post.text, class: "card-text")
