// index.html.haml
.jumbotron {
  background-color: #fff;
}

.album {
  background-color: #e9ecef;
  .card-text {
    height: 200px;
  }
}



/*new.html.haml*/

.form-signin {
  width: 100%;
  max-width: 500px;
  padding: 30px 15px;
  margin: auto;
}
