// index.html.haml

.jumbotron {
  margin-bottom: 0;
}

.jumbotron__background-color {
  background-color: #fff;
}

.album__background {
  background-image: image-url('IMG_0371.jpg');
  background-size: 100% 100%;
  .card__background {
    background: rgba(255,255,255,0.6);
    .card-text__fix-height {
      height: 176px;
    }
  }
}

/*new.html.haml*/

.form-signin {
  width: 100%;
  max-width: 500px;
  padding: 30px 15px;
  margin: auto;
}

// show.html.haml

.card-text__min-height {
  min-height: 188px;
}
